.head {
  margin-top: 0.9rem;
  color: #07427c;
  font-size: 2rem;
  text-align: start;
}
ul {
  margin-right: 0.1rem;
  padding: 0;
  list-style-type: none;
}
li {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

a {
  color: #07427c;
}
.icon {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  fill: #07427c;
  margin-left: 2rem;
}
