<div class="head">
  <ul>
    <li>
      <a href="#">
        <svg class="icon">
          <use xlink:href="spirte.svg#icon-grid"></use>
        </svg>
        القائمة الرئيسية
      </a>
    </li>

    <li>
      <a href="#">
        <svg class="icon">
          <use xlink:href="spirte.svg#icon-cog"></use>
        </svg>
        الطلاب
      </a>
    </li>

    <li>
      <a href="#">
        <svg class="icon">
          <use xlink:href="spirte.svg#icon-cog"></use>
        </svg>
        المعلمين
      </a>
    </li>

    <li>
      <a href="#">
        <svg class="icon">
          <use xlink:href="spirte.svg#icon-cog"></use>
        </svg>
        الموظفون
      </a>
    </li>
  </ul>
</div>
