<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-container">
    <div class="form-row">
      <div class="form-group">
        <label for="name">الاسم *</label>
        <input
          type="text"
          id="name"
          name="name"
          ngModel
          #name="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <label for="school-enrollment-date">موعد الالتحاق بالمدرسه * </label>
        <input
          type="text"
          id="school-enrollment-date"
          name="school"
          ngModel
          #school="ngModel"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="office">المكتب التابع له *</label>
        <input
          type="text"
          id="office"
          name="office"
          ngModel
          #office="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <label for="address">العنوان *</label>
        <input
          type="text"
          id="address"
          name="address"
          ngModel
          #address="ngModel"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="birthdate"> تاريخ الميلاد *</label>
        <input
          type="number"
          placeholder="يوم"
          id="birthdate"
          name="day"
          ngModel
          #birthdate="ngModel"
          required
          min="1"
          max="30"
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          class="fix"
          placeholder="شهر"
          name="months"
          ngModel
          required
          min="1"
          max="12"
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          class="fix"
          placeholder="سنه"
          name="year"
          ngModel
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="password"> كلمه السر * </label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          minlength="8"
          pattern="^(?=.*[a-z])(?=.*[A-Z]).+$"
          required
        />
        @if(password.touched&&password.invalid){
        <p class="error">كلمة المرور يجب ان تكون مكونة من 8 احرف</p>
        }
      </div>

      <div class="form-group">
        <label for="confirm-password">تأكيد كلمة السر *</label>
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          ngModel
          #confirmPassword="ngModel"
          required
        />
        @if (confirmPassword.touched&&password.value != confirmPassword.value )
        {
        <p class="error">كلمة المرور ليست متطابقة</p>
        }
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button type="submit" class="button">الدخول</button>
  </div>

  @if(form.form.touched&&form.form.dirty&& form.form.invalid){
  <p class="error error-1">اكمل بيناتك</p>
  }
</form>
