<div class="container">
  <div class="right">
    <p>غياب المستوي الحالي</p>
    <ul>
      <li>25-252-2022</li>
      <li>25-252-2022</li>
      <li>25-252-2022</li>
    </ul>
  </div>

  <div class="left">
    <div class="title">
      <a href="#">عرض غياب مستويات سابقه </a>
    </div>
    <div class="check">
      <ul>
        <li>
          <label>
            <input type="checkbox" name="option1" value="yes" />
            الحضور
          </label>
        </li>

        <li>
          <label>
            <input type="checkbox" name="option1" value="yes" />
            الحضور
          </label>
        </li>

        <li>
          <label>
            <input type="checkbox" name="option1" value="yes" />
            الحضور
          </label>
        </li>
      </ul>

      <ul>
        <li>
          <label>
            <input type="checkbox" name="option1" value="yes" />
            الحفظ
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="option1" value="yes" />
            الحفظ
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="option1" value="yes" />
            الحفظ
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
