.container {
  font-size: 1.7rem;
  color: #111c43;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
}

.right.box,
.left.box {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;
}

.image {
  text-align: center;
  height: 40%;
  width: 40%;
  margin: 1rem;
}

img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.data {
  margin: 2rem;
}

p {
  margin-bottom: 1rem;
}
