/* You can add global styles to this file, and also import other style files */
$color-background: #d0d0d0;
$color-primary-light: #8a8a8a;
$color-primary-dark: #2e3542;
$color-text-blue: #07427c;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: " Arabic", sans-serif;
  font-size: 62.5%;
  height: 100vh;
  background-color: #f6f6f6;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.box {
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: white;
}
